# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# VS Code
.vscode/

# Environments
.env
.venv/
env/
venv/
ENV/

# mkdocs documentation
/site

# Ignore the node_modules directory
node_modules/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE and editor directories/files
.idea/
*.swp
*.swo
*.sublime*
.vscode/

# Ignore npm debug logs and .env
npm-debug.log
.env

